.invisible {
  visibility: hidden;
}
.translate-top {
  transform: translateY(-100%);
}

.link {
  display: block;
  transition: var(--transition-base);
  user-select: all;
  white-space: nowrap;
}
.link:hover,
.link:focus {
  color: var(--link-hover);
  span {
    color: var(--link-hover);
  }
  .icon {
    fill: var(--link-hover);
  }
}
.icon__decor--left {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%) rotate(90deg);
  left: 0;
  top: 50%;
}
.section-padding {
  padding-block: 4rem;
  &:first-child {
    padding-top: 6rem;
  }
}
.section__heading {
  margin-bottom: 4rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}
.section__title {
  font-family: 'Noto Sans';
  font-size: 1.6rem;
  text-transform: uppercase;
  // margin-bottom: 4rem;
}

.alt-bg {
  background-color: var(--alt-bg);
}
.marked {
  color: var(--accent-color);
}
