html {
  font-size: clamp(16px, var(--index), 20px);
}

body {
  font-size: 0.8rem;
  font-family: 'Roboto';
  font-weight: 400;
  background-color: var(--main-bg);
  color: var(--main-color);
}
.wrapper {
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  /* justify-content: space-between; */
}
main {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  @media (max-width: 769px) {
    margin-top: 0;
  }
}
section {
  width: 100%;
  height: 100%;
}
a,
button {
  color: var(--main-color);
}

a {
  text-decoration: none;
}

svg.icon {
  width: auto;
  height: auto;
}

img {
  width: 100%;
  height: 100%;
}
