.link {
  transition: var(--transition-base);
}
.link:hover,
.link:focus {
  color: var(--link-hover);
  .icon {
    fill: var(--link-hover);
  }
}
.icon {
  transition: var(--transition-base);
  fill: var(--white);
}
.icon__socials {
  fill: var(--red);

  filter: drop-shadow(0 0 1px var(--red));

  &:hover {
    fill: var(--link-hover);
  }
}

.section__padding {
  padding-block: 4rem;
}
.section__heading {
  margin-bottom: 4rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}
.section__title {
  font-family: 'Noto Sans';
  font-size: 1.6rem;
  text-transform: uppercase;
  // margin-bottom: 4rem;
}
