.icon {
  vertical-align: top;
}
.icon__social {
  fill: var(--accent-color);

  filter: drop-shadow(0 0 1px var(--accent-color));
}
a:hover .icon__social {
  fill: var(--link-hover);
  transition: var(--transition-base);
}
