:root {
  --index: 1vh + 1vw;

  --main-bg: #262524;
  --main-color: #fff;

  --link-hover: green;

  --transition-base: 0.3s linear all;
  /*COLORS*/

  --white: #fcdfff;
  --red: #f24738;
  --green: green;

  --container-width: 1340px;
  --container-padding: 10px;

  // @media (min-width: 1800px) {
  //   --container-width: 2600px;
  // }
}
