@use 'sass:color';
:root {
  --index: 1vh + 1vw;

  --main-bg: #333230;
  --alt-bg: #262524;
  --main-color: #fff;
  --main-color-op: rgba(255, 255, 255, 0.65);
  --overlay-image: rgba(38, 37, 36, 0.75);

  --link-hover: green;

  --transition-base: 0.3s linear all;
  /*COLORS*/

  --white: #fff;
  --accent-color: #f24738;
  --accent-color-op: #f2473838;
  --hover: green;

  // @debug color.mix(#c4c4c4bf, #1a1a1a73, 50%);
  /*SIZES*/
  --container-width: 1340px;
  --container-padding: 10px;

  --header-height: 6.5rem;
  //   --container-width: 2600px; // @media (min-width: 1800px) {
  // @media (prefers-color-scheme: dark) {
  //   --main-bg: #ffffff;
  //   --alt-bg: #dedede;
  //   --main-color: #000000;
  // }
}
.light {
  --main-bg: #eaeaea;
  --alt-bg: #dcdcdc;
  --main-color: #232323;
  --main-color-op: rgba(241, 240, 240, 0.65);
  --overlay-image: rgba(232, 232, 232, 0.75);

  --accent-color: #009cec;
  --accent-color-op: #009dec6d;
}
